.judul {
  color: saddlebrown
}

.container {
  margin: auto;
  width: 50%;
}

.kategori {
  background-color: darkblue;
  color: white;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 3px;
}